// Place all the styles related to the infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.from_to_pair {
  padding: 5;
  display: flex;
  flex-direction: row;
}
div.from {
  width: 40%;
  background: #ffc;
}
div.to {
  background: #cff;
}
