<p>
  <strong>Role:</strong>
  <%= info.role %>
</p>

<p>
  <strong>Title:</strong>
  <%= info.title %>
</p>

<p>
  <strong>Data:</strong>
  <%= desc(info) %>
</p>

<p>
  <strong>Data type:</strong>
  <%= info.data_type %>
</p>

